<div class="text-center">
    <div class="post-box">
        <div class="col-md-5 postid-header">
            <h2 class="postid-title">{{title}}</h2>
            <p class="col-md-7 postid-info postid-info-right">Created by {{user.name}} on {{format_date date_created}}</p>
        </div>
            <p class="post-content">{{content}}</p>
    </div>

    <input type="hidden" id="post-id" name="post-id" value="{{id}}"/>

    {{#if logged_in}}
    <div class="card">
        <div class="card-header"></div>
        <form class="card-body comment-form">
            <p class="form-label">Comment:</p>
            <textarea class="form-input" id="comment" name="comment-body"></textarea>    
            <button type="submit" class="btn btn-primary">Submit</button>        
        </form>               
    </div>
    {{/if}}

    {{#if comments.length}}
    <div class="comments-section">
        <h3>Comments</h3>
        {{#each comments as |comment|}}
        <div class="comment">
          <h4>{{comment.content}}</h4>
          <p>-{{user.name}}, {{format_date comment.date_created}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>



<script src="/js/post.js"></script>
